* {
    margin:0;
    padding:0;
    }

    body{
        background-color:#232323;
    }

    .row-right {
        width:100%;
        float:right;
        min-height:100vh;
        text-align:center;
        padding:20px;
        margin: 0 auto;
      
        }
    .fixed-bottom{
        float:bottom;
        background-color:#202020;
        min-height:20px;
        border-top:solid 7px #A21515;
        font-family:'Berlin Sans FB';
        font-size:25px;
        color:white;
        text-align:center;
    }    

    .h1Style {
        text-align:center;
        font-weight: bold;
        color: #A21515;
        font-size: 55px;
        font-family:Berlin Sans FB;
        text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        line-height:60px;
        }

 .href {
 
    text-align:center;
    font-family:Berlin Sans FB;
    font-size:43px;
    color:white;

 }
 
 a:hover {
	text-decoration:none;
	color: #A21515;

}

.pStyle {
    font-family:Arial,serif;
    font-size:20px;
    color:white;
}

.respImg {
    width: 80%;
    height: auto;
    border: 3px solid gray;
    border-radius: 16px;
}

.hrefLab{
    text-align:center;
    font-family:Berlin Sans FB;
    font-size:24px;
    color:#FFDF00;
}

#hidden{
    text-align:center;
    font-family:Arial,serif;
    font-size:20px;
    color:#232323;
    text-decoration:none;

}
