* {
margin:0;
padding:0;
}
.column {
float: left;
margin: 0;
padding: 0;
height: 1440px;
min-height:40px;
}
.left {
width: 14.5%;
background-color:red;
float:left;
margin:0 auto;
height:1630px;
background-color:#202020;
border-right:solid 7px #A21515;
border-bottom:solid 7px #A21515;
min-height:100vh;
background-image: url('../Images/xmas.jpeg'); 
}
.right {
width: 85%;
float:right;
background-image: url('../Images/xmas1.jpeg'); 
}
#siteFooter {
width:100%;
color:white;
min-height:199px;
background-color:red;
border-top:solid 5px #A21515;
border-bottom:solid 7px #A21515;
background-image: url('../Images/xmas.jpeg'); 

}
#siteContent{
width:100%;
height:80vh;

}
.navBar {
background-color:#CA1616;
color:yellow;
list-style: none;
text-align: center;
padding: 15px 5 15px 0;
text-shadow: 1px 1px #D8E3E5;
margin:0 auto;
line-height:60px;
cursor:pointer;
border-top:solid 2px #A21515;
border-bottom:solid 2px #A21515;
background-image: url('../Images/xmas.jpeg'); 
}
.navBar a{
text-decoration:none;
color:white;
width:85px;
display:block;
padding:18px;
font-size: 28px;
font-family:Berlin Sans FB;
transition:0.4s;
padding: 20px;
}
.navBar > li {
display: inline-block;
padding-right: 0 25px 0 25px;
}
.navBar > li > a {
color: white;
padding:18px;
}
.navBar > li > a:hover {
color: #D4AF37;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #D4AF37;
}
#h1Style {
text-align:center;
font-weight: bold;
color: #0EA512;
font-size: 43px;
font-family:Segoe Print;
text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
line-height:60px;
}

#imgIndex {
height: 700px;
width: 1100px;
border:10px;
border-radius:4%;

}

#bag2 {
	height:45px;
	width:130px;
}

.href{
	font: size 100PX;
	text-align:center;
    font-family:Arial,serif;
    color:white;
	text-decoration:none;
	font-size:40px;
	font-weight:bold;
	color:white;	
	text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px #080808;
}